<div>
  <div class="play">
    <button (click)="togglePlay()">{{play ? 'Pause': 'Play'}}</button>
    <button (click)="reset()">Reset</button>
  </div>

  <div>Configs
    <label for="radius">Min Radius between points</label>
    <input id="radius" type="number" step ="0.1" name="radius" min="5.0" [(ngModel)]="radius">
    <label for="samples">Samples per iteration</label>
    <input id="samples" type="number" name="samples" min="1" [(ngModel)]="k">
    <label for="iterationsPerFrame">Iterations per frame</label>
    <input id="iterationsPerFrame" type="number" name="iterationsPerFrame" min="1" [(ngModel)]="iterationsPerFrame">

  </div>
</div>
