:host {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: stretch;
  width: 100vw;
}

.navigationSidenav {
  max-width: 300px;
}

.active{
  color: #69f0ae;
}

.simContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
}

app-poisson {
  flex: 1 1 100%;
}
