<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>
  <mat-sidenav class="navigationSidenav" #sidenav>
    <mat-nav-list>
      <app-nav-item *ngFor="let route of routerLinks"
                    (click)="sidenav.close()"
                    [path]="route.path"
                    [linkText]="route.data.linkText">
      </app-nav-item>
    </mat-nav-list>
  </mat-sidenav>
  <section class="pageGrid">
    <mat-toolbar role="header" class="pageTitle" color="accent">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
        <div>SuperheroicCoding Angular Demos</div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="pageContent">
      <router-outlet></router-outlet>
    </div>
  </section>
</mat-sidenav-container>
