.navigationSidenav {
  max-width: 300px;
}

.pageGrid {
  display: grid;
  grid-template-rows: 48px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main";
  grid-column-gap: 1rem ;
  grid-row-gap: 1rem;
}

@media only screen and (min-width: 768px) {
  .pageGrid {
    display: grid;
    grid-template-rows: 48px auto auto;
    grid-template-columns: auto;
    grid-template-areas:
      "header" "header"
      "main" "main"
      "main" "main"
  }
}

.pageTitle {
  grid-area: header;
}

.pageContent {
  grid-area: main;
}


