<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>
  <mat-sidenav class="navigationSidenav" #sidenav>
    <mat-nav-list>
      <app-nav-item *ngFor="let route of routerLinks"
                    (click)="sidenav.close()"
                    [path]="route.path"
                    [linkText]="route.linkText">
      </app-nav-item>
    </mat-nav-list>
  </mat-sidenav>
  <section class="pageGrid">
    <mat-toolbar class="pageTitle" color="accent">
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <div>
        <span>SuperheroicCoding Demos</span>
        <br>
        <span class="mat-subheading-2">
      Click on the menu icon to choose examples.
    </span>
      </div>
    </mat-toolbar>
    <div class="pageContent">
    <router-outlet></router-outlet>
    </div>
  </section>
</mat-sidenav-container>
