<md-toolbar color="primary">
  <span>Poisson Distribution</span>
  <md-toolbar-row>
    <div>
      <span class="mat-subheading-2">Evenly distribute balls of wood on a plane</span><br>
    </div>
  </md-toolbar-row>
</md-toolbar>

<!-- <app-canvas-view
   [simWidth]="simWidth"
   [simHeight]="simHeight"
   [circles]="poissonCalc.foundCircles$ | async"
   [actives]="poissonCalc.activeVectors$ | async"
   [lines]="poissonCalc.lines$ | async"
   (onAddObject)="addPoint($event)"
   (onReadyToPaint)="calculate()"
 >
 </app-canvas-view>-->
<div class="simContent">
  <md-card>
    <md-card-title>Simulation</md-card-title>
    <md-card-subtitle>Click to add balls as seed</md-card-subtitle>
    <md-card-subtitle>Watch the lightning. It always comes from your mouse pointer</md-card-subtitle>
    <app-p5-view
      [width]="width"
      [height]="height"
      [circles]="poissonCalc.foundCircles$ | async"
      [actives]="poissonCalc.activeVectors$ | async"
      (onAddObject)="addPoint($event)"
      (onReadyToPaint)="calculate()">
    </app-p5-view>
  </md-card>
  <app-sim-controls (playChanged)="setPlay($event)" (onReset)="reset()"></app-sim-controls>
</div>

