.perceptron-canvas {
  width: 100%;
  height: 100%;
}

.card-container {
  margin: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
}

.perceptron-card {
  grid-row-start: 1;
  /* autoprefixer: off */
  grid-row-end: 3;
  min-width: 350px;
}

.actions-card {
}

.weights-card {
}

