<md-card>
  <md-card-title>Cell Weights Config</md-card-title>
  <md-card-subtitle>The weights of the neighbouring cells used for calculation</md-card-subtitle>
  <div class="weightInput" *ngIf="weights">
    <div class="topWeights">
      <md-input-container>
        <input mdInput placeholder="topLeft" type="number"
               step="0.005"
               name="topLeft"
               min="-1.000"
               max="1.000"
               (change)="onWeightChanged()"
               [(ngModel)]="weights.topLeft">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="topCenter" type="number"
               step="0.005"
               name="topCenter"
               min="-1.000"
               max="1.000"
               (change)="onWeightChanged()"
               [(ngModel)]="weights.topCenter">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="topRight" type="number"
               step="0.005"
               name="topRight"
               min="-1.000"
               max="1.000"
               (change)="onWeightChanged()"
               [(ngModel)]="weights.topRight">
      </md-input-container>
    </div>
    <div class="centerWeights">
      <div>
        <md-input-container>
          <input mdInput placeholder="left" type="number"
                 step="0.005"
                 name="left"
                 min="-1.000"
                 max="1.000"
                 (change)="onWeightChanged()"
                 [(ngModel)]="weights.left">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="center" type="number"
                 step="0.005"
                 name="center"
                 min="-1.000"
                 max="1.000"
                 (change)="onWeightChanged()"
                 [(ngModel)]="weights.center">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="right" type="number"
                 step="0.005"
                 name="right"
                 min="-1.000"
                 max="1.000"
                 (change)="onWeightChanged()"
                 [(ngModel)]="weights.right">
        </md-input-container>
      </div>
    </div>
    <div class="bottomWeights">
      <md-input-container>
        <input mdInput placeholder="bottomLeft" type="number"
               step="0.005"
               name="bottomLeft"
               min="-1.000"
               max="1.000"
               (ngModelChange)="onWeightChanged()"
               [(ngModel)]="weights.bottomLeft">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="bottomCenter" type="number"
               step="0.005"
               name="bottomCenter"
               min="-1.000"
               max="1.000"
               (ngModelChange)="onWeightChanged()"
               [(ngModel)]="weights.bottomCenter">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="bottomRight" type="number"
               step="0.005"
               name="bottomRight"
               min="-1.000"
               max="1.000"
               (ngModelChange)="onWeightChanged()"
               [(ngModel)]="weights.bottomRight">
      </md-input-container>
    </div>
  </div>
</md-card>
